body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 20px;
    border-style: none;
    border-radius: 8px;
    font-weight: 600;
}

button {
    width: 100px;
    height: 35px;
    white-space: nowrap;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-header {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding: 100px 10%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.hero-image {
    height: 200px;
    width: 400px;
    flex-shrink: 0;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 48px;
}

.information {
    text-align: center;
    padding-top: 48px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 96px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.box {
    height: 150px;
    width: 150px;
    outline-style: solid;
    outline-color: #3882f6;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 8px;
}

.info {
    max-width: 150px;
}

.quote-section {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 96px;
    padding-bottom: 80px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #445061;
}

.quote-tag {
    text-align: right;
    font-size: 20px;
    color: #1f2937;
    font-weight: 700;
}

.action-call {
    display: flex;
    background-color: #3882f6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 96px;
    margin-bottom: 96px;
    padding: 40px 100px;
    color: #f9faf8;
    justify-content: center;
    border-radius: 8px;
    gap: 150px;
    align-items: center;
}

.action-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 20px;
    border-style: solid;
    border-radius: 8px;
    font-weight: 600;
    border-color: #f9faf8;
}

.action-header {
    font-weight: 700;
    font-size: 24px;
}

.action-text {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
}